<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><a href="<%= mains_path %>" class="btn-back"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold">Types</span> - Management</h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="<%= mains_path %>"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="<%= tags_path %>">Orders Management</a></li>
            <li class="active">Types</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <%= link_to 'New Type', new_type_path, class: 'btn btn-primary' %>
            <hr/>
            <h5 class="panel-title">Listing <span class="text-semibold">Type</span></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        
        <table class="table datatable-tag">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
              <% @types.each do |item| %>
                    <tr>
                        <td><%= link_to item.title, item %></td>
                        <td><%= truncate(strip_tags(item.description), length: 50) %></td>
                        <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                        <td><span class="label label-info">Active</span></td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
    
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_type_path(item) %>
                                        </li>
                                        <li>
                                            <%= link_to '<i class="icon-cross2"></i> Destroy'.html_safe, item, method: :delete, data: {confirm: 'Are you sure?'} %>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
              <% end %>
            </tbody>
        </table>
    </div>
    <!-- /basic datatable -->

    <!-- Footer -->
	<div class="footer text-muted">
		Copyright &copy; 2015 - Nhà hàng Chay vì sức khỏe.
	</div>
	<!-- /footer -->

</div>
<!-- /content area -->

<!-- Theme JS files -->
<%= javascript_include_tag '/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/assets/js/core/app.js' %>
<%= javascript_include_tag '/javascripts/datatables_tag.js' %>
<!-- /theme JS files -->