<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><a href="<%= orders_path %>" class="btn-back"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold">Orders</span> - Management</h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="<%= mains_path %>"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="<%= orders_path %>">News & Events</a></li>
            <li><a href="<%= orders_path %>">Orders</a></li>
            <li class="active">Order detail</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"><span class="text-semibold">Order Detail</span></h5>
            
            <%= content_tag(:p, class: "color-red") do %>
              <%= notice %>
            <% end %>
        
            <form class="form-horizontal" role="form">
               
				<div class="form-group">
                    <%= label "", "Type: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static text-justify") do %>
                          <%= @order.type.title %>
                        <% end %>
                    </div>
                </div>
					
                <div class="form-group">
                    <%= label "", "Name: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static text-justify") do %>
                          <%= @order.customer_name %>
                        <% end %>
                    </div>
                </div>
					
                <div class="form-group">
                    <%= label "", "Email: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static") do %>
                          <%= @order.customer_email %>
                        <% end %>
                    </div>
                </div>

				<div class="form-group">
                    <%= label "", "Phone: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static") do %>
                          <%= @order.customer_phone %>
                        <% end %>
                    </div>
                </div>
					
				<div class="form-group">
                    <%= label "", "Order Date: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static") do %>
                          <%= @order.order_date %>
                        <% end %>
                    </div>
                </div>
					
				<div class="form-group">
                    <%= label "", "Message: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static") do %>
                          <%= @order.message %>
                        <% end %>
                    </div>
                </div>
					
				<div class="form-group">
                    <%= label "", "Created at: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
                        <%= content_tag(:p, class: "form-control-static") do %>
                          <%= @order.created_at.strftime("%d/%m/%Y") %>
                        <% end %>
                    </div>
                </div>

				<div class="form-group">
                    <%= label "", "Product List: ", class: "control-label col-sm-2 text-semibold" %>
                    <div class="col-sm-10">
							<article>
								<table class="table">
								<thead>
									<tr>
										<th>Tên món ăn</th>
										<th>Giá tiền</th>
										<th>Số lượng</th>
										<th>Tiền</th>
									</tr>
								</thead>
								<% if @order.order_details.any? %>
									 <% @order.order_details.each do |item| %>
										<tbody>
											<td><%= item.product.name %></td>
											<td><%= item.price %></td>
											<td><%= item.quantity %></td>
											<td><span class="label label-flat border-success text-success-600 font-small"><%= number_with_delimiter item.total %>đ</span></td>
										</tbody>	
									 <% end %>
									<% else %>
										<%= content_tag(:p, class: "form-control-static") do %>
											None Available
										<% end %>
								<% end %>
								</table>
								<div class="pull-right">
									<strong>Sum total:  </strong><span class="label label-flat border-info text-info-600 font-medium"><%= number_with_delimiter @order.total %>đ</span></p>
								</div>
							</article>
						</div>
					</div>			
            </form>
        
            <%= link_to '<i class="icon-backward2 position-left"></i> Back'.html_safe, orders_path, class: "btn btn-primary" %>
            
        </div>
    </div>

    <!-- Footer -->
	<div class="footer text-muted">
		Copyright &copy; 2015 - Nhà hàng Chay vì sức khỏe.
	</div>
	<!-- /footer -->

</div>
<!-- /content area -->

<!-- Theme JS files -->
<%= javascript_include_tag '/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/assets/js/core/app.js' %>
<!-- /theme JS files -->