<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<% @count = 0 %>

<%= form_for @cart, :url => ''  do |xx| %>

    <% @cart.manufacturers.uniq.each do |f| %>
        <article>
            <h3>
                <strong><%= f.name %></strong>
                <%= link_to "X", reservation_homes_path(do: 'remove_manu'), manu_id: f.id, class: "btn btn-danger btn-sm pull-right" %>
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên món ăn</th>
                        <th>Giá tiền</th>
                        <th class="text-left">Số lượng</th>
                        <th class="text-left">Số tiền</th>
                        <th class="text-center">Xóa</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% @cart.line_items.includes(:product).where(products: {manufacturer_id: f.id}).each do |ff| %>
                            <tr>
                                <td>
                                    <input type="hidden" name="line_items[<%= @count %>][id]" value="<%= ff.id %>">
                                    <%= ff.product.name %>
                                </td>
                                <td><%= number_with_delimiter ff.product.price.to_i %> đ</td>
                                <td class="text-left"><input type="text" name="line_items[<%= @count %>][quantity]" value="<%= ff.quantity %>" class="size-quantity"></td>
                                <td class="text-left"><%= number_with_delimiter ff.total.to_i %> đ</td>
                                <td class="text-center">
                                    <%= link_to "X" , reservation_homes_path(do: 'remove', line_item_id: ff.id), class: "btn btn-primary btn-xs"  %>
                                </td>
                            </tr>
                        <% @count += 1 %>
                    <% end %>
                </tbody>
            </table>
            <!--<div class="pull-right">
              <strong>Tổng tiền: </strong><p class="label label-primary">250.000đ</p>
            </div>-->
        </article>
        <hr/>
    <% end %>
    <%= button_to "Cập nhật số lượng sản phẩm", '#', class: "btn btn-success" %>
    <%= link_to "CHỌN MÓN KHÁC", menu_product_homes_path, class: "tl-button dark pull-left" %>
    <%= link_to "ĐẶT HÀNG", "#", class: "tl-button red pull-right", "data-toggle" => "modal", "data-target" => "#myModal" %>
<% end %>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chọn hình thức đặt hàng</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
                <div class="col-md-6">
                    <p class="text-left"><%= link_to "GIAO HÀNG", confirm_order_homes_path, class: "btn btn-warning", type: "giaohang" %></p>
                </div>
                <div class="col-md-6">
                    <p class="text-right"><%= link_to "ĐẶT MÓN", '#', class: "btn btn-info" %></p>
                </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>