<div id="teaser">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>LIÊN HỆ</h1>
                <div class="tl-breadcrumb-wrapper hidden-xs">
                    <ul class="tl-breadcrumb">
                        <li>
                            <a href="<%= root_path %>">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>LIÊN HỆ</li>
                    </ul>
                </div>
                <!-- .tl-breadcrumb -->

                <%= render "link_page" %>
            </div>
        </div>
        <!-- .row -->
    </div>
</div>
<!-- #teaser -->

<div id="main-container">
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9" role="main">
              <div class="page-content devider">

                  <article>
                    
                      <h3>NHÀ HÀNG CHAY VÌ SỨC KHỎE</h3>
                      <% if !@contact.errors.empty? %>
                        <ul>
                          <% @contact.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                        </ul>
                      <% end %>
                      <%= form_for @contact, html: {class: "contact-us-form", onsubmit: "return checkForm();"} do |f| %>
                            <ul>
                              <li>
                                <%= f.text_field :name, class: "form-control float-label width50", placeholder: "HỌ & TÊN (Bắt buộc)", required: true %>
                              </li>
                              <li>
                                <%= f.email_field :email, class: "form-control float-label width50", placeholder: "ĐỊA CHỈ EMAIL" %>
                              </li>
                              <li>
                                <%= f.text_field :phone, class: "form-control float-label width50", placeholder: "SỐ ĐIỆN THOẠI (Bắt buộc)", required: true %>                              </li>
                              <li><%= f.text_field :website, class: "form-control float-label width50", placeholder: "WEBSITE" %></li>
                              <li>
                                <%= f.text_area :message, class: "form-control float-label", placeholder: "LỜI NHẮN (Bắt buộc)", required: true %>
                              </li>
                              <li>
                                <%= recaptcha_tags %>
                              </li>
                              <li>
                                  <%= f.submit "Gửi thông tin", class: "tl-button red submit font-medium" %>
                                  <%= link_to "Nhập lại", "#", class: "tl-button dark reset-form font-medium" %>
                              </li>
                          </ul>
                          <input type="hidden" name="handler" value="contact" />
                      <% end %>

                      <div class="google-map">
                          <h3>Bản đồ</h3>
                          <div class="google-map-background tl-frame-light">
                              <div id="google-map-location"></div>
                          </div>
                      </div><!--end google-map-->

                  </article>

              </div>
          </div>
          <aside class="col-xs-12 col-sm-12 col-md-3">

              <!-- Restaurant hours widget -->
              <!--<div class="widget widget-restaurant-hours">
                  <h3 class="widget-title">Giờ mở cửa</h3>
                  <ul class="restaurant-hours">
                      <li><p class="meta">Breakfast</p></li>
                      <li>
                          <label>Monday - Friday</label>
                          <span>11:00 am - 03:00 pm</span>
                      </li>
                      <li>
                          <label>Monday - Friday</label>
                          <span>11:00 am - 03:00 pm</span>
                      </li>
                  </ul>
                  <ul class="restaurant-hours">
                      <li><p class="meta">Lunch</p></li>
                      <li>
                          <label>Monday - Friday</label>
                          <span>11:00 am - 03:00 pm</span>
                      </li>
                      <li>
                          <label>Monday - Friday</label>
                          <span>11:00 am - 03:00 pm</span>
                      </li>
                  </ul>->
              </div><!-- .widget-restaurant-hours -->


              <!-- Today special widget -->
              <div class="widget widget-today-special">
                  <h3 class="widget-title">Sự kiện mới</h3>
                    <% @module_news_events.each do |item| %>
                        <% if item.tag.title == "Sự kiện" %>
                            <div class="image"><img src="<%= item.image_url if item.image_url? %>" alt="image description" /></div>
                            <h4 class="title"><a href=""><%= link_to (truncate(strip_tags(item.title), length: 30)), post_detail_homes_path(:id => item) %></a></h4>
                            <p class="excerpt text-justify"><%= truncate(strip_tags(item.content), length: 150) %></p>
                            <%= link_to "Xem tiếp", post_detail_homes_path(:id => item), class: "read-more-red font-medium" %>
                            <div class="clearfix"></div>
                            <hr/>
                        <% end %>
                    <% end %>
                
              </div><!-- .widget -->


              <!-- News and events widgets -->
              <div class="widget widget-news">
                  <h3 class="widget-title">Tin tức mới</h3>
                  <ul>
                    <% @module_news_posts.each do |item| %>
                        <% if item.tag.title != ("Sự kiện" && "Lời giới thiệu") %>
                            <li>
                                <span class="meta"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                                <h4 class="title">
                                    <a href="#"><%= link_to (truncate(strip_tags(item.title), length: 50)), post_detail_homes_path(:id => item) %></a>
                                 </h4>
                                <p class="excerpt text-justify"><%= truncate(strip_tags(item.content), length: 150) %></p>
                            </li>
                            <hr/>
                        <% end %>
                    <% end %>
                  </ul>
              </div>

          </aside>
        </div>
    </div>

    <div id="prefooter-wrapper">
        <div class="container">
            <div class="row">
    
                <!-- Widget Container 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-chef">
                        <h3 class="font-large">Lời giới thiệu</h3>
                        <% @module_introduction.each do |item| %>
                            <% if item.tag.title == "Lời giới thiệu" %>
                                <div class="image hvr-float-shadow">
                                    <img src="<%= item.image_url if item.image_url? %>" width="82" height="82" alt="" />
                                </div>
                                <div class="text-justify"><%= item.content.html_safe %></div>
                                <div class="clearfix"></div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
    
                <!-- Widget Container 2 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-menu-highlights">
                        <h3 class="font-large">Món ăn mới</h3>
                        <ul>
                            <% @module_new_products.each do |item| %>
                                <li>
                                    <div class="image hvr-float-shadow"><img src="<%= item.image_url if item.image_url? %>" width="56" height="56" alt="<%= item.name %>"></div>
                                    <h4 class="title"><a href="" title=""><%= link_to (truncate(strip_tags(item.name), length: 20)), product_detail_homes_path(id: item) %></a></h4>
                                    <div class="excerpt">
                                        <p><%= truncate(strip_tags(item.description), length: 100) %></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            <% end %>
                        </ul>
                        <%= link_to "Xem tiếp", menu_product_homes_path, class: "read-more-red font-medium" %>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
                <!-- Widget Container 3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-contact-us">
                        <h3 class="font-large">Đăng ký nhận tin mới</h3>
                        <%= render 'newsletter' %>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- #prefooter-wrapper -->
</div>
<!-- #main-container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>

<!-- Image preloader -->
<%= javascript_include_tag '/assets/frontend/js/jquery.waitforimages.min.js' %>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<%= javascript_include_tag '/assets/frontend/js/ie10-viewport-bug-workaround.js' %>

<!-- Easing -->
<%= javascript_include_tag '/assets/frontend/js/jquery.easing.1.3.js' %>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap.min.js' %>

<!-- Hover with delay -->
<%= javascript_include_tag '/assets/frontend/js/jquery.hoverIntent.minified.js' %>

<!-- Responsive navigation menu -->
<%= javascript_include_tag '/assets/frontend/js/responsive-nav/responsive-menu-js.js' %>

<%= javascript_include_tag '/assets/frontend/js/bxslider/jquery.bxslider.min.js' %>

<!-- Floatable labels -->
<%= javascript_include_tag '/assets/frontend/js/floatlabels.min.js' %>

<!-- Selectbox beautyfier -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap-select.min.js' %>

<!-- Placeholder -->
<%= javascript_include_tag '/assets/frontend/js/jquery.placeholder.min.js' %>

<!-- Pretty Photo -->
<%= javascript_include_tag '/assets/frontend/js/pretty-photo/js/jquery.prettyPhoto.js' %>

<%= javascript_include_tag '/assets/frontend/js/googlemap.js' %>
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>

<!-- Cookies -->
<%= javascript_include_tag '/assets/frontend/js/jquery.cookie.js' %>

<!-- Main theme JS file -->
<%= javascript_include_tag '/assets/frontend/js/main.js' %>

<!-- Contact Validation -->
<%= javascript_include_tag 'contact-validation.js' %>

<!-- Newsletter Validation -->
<%= javascript_include_tag 'newsletter-validation.js' %>