<div id="main-container">    
    <div id="slider-wrapper" class="bordered-slider-wrapper">
        <div class="container">
            <div class="main-slider simple">
                <% @slide_shows.each do |item| %>
                    <% if item.tag_name == 'General Manufacturers' %>
                        <div class="slide" style="background-image: url('<%= item.image_url if item.image_url? %>');  ">
                            <h4 class="slide-item-h4"><%= item.title_1 %></h4>
                            <h2 class="slide-item-h2"><%= item.title_2 %></h2>
                            <p class="slide-item-p text-center"><%= item.description %></p>
                            <%= link_to 'Xem tiếp', general_manufacturer_homes_path, class: 'slide-item-a font-small try-button' %>
                            <div class="mobile-mask"></div>                
                        </div>
                        <!-- .slide -->
                    <% elsif item.tag_name == 'Personal Manufacturers' %>
                        
                    <% else %>
                        <div class="slide" style="background-image: url('<%= item.image_url if item.image_url? %>');">
                            <h4 class="slide-item-h4"><%= item.title_1 %></h4>
                            <h2 class="slide-item-h2"><%= item.title_2 %></h2>
                            <p class="slide-item-p text-center"><%= item.description %></p>
                            <%= link_to 'Xem tiếp', item.link, class: 'slide-item-a font-small try-button' %>
                            <div class="mobile-mask"></div>                
                        </div>
                    <% end %>
                <% end %>
            </div>
    
            <span class="cc-previous hidden-xs"><span></span></span>
            <span class="cc-next hidden-xs"><span></span></span>
            <div class="c-pagination visible-xs"></div>
        </div>
    </div>
    <!-- #slider-wrapper -->
    
    <div id="featured">
                
         <div class="container">
            <div class="tl-carousel-wrapper">
                <div class="tl-carousel-inner-wrapper">
                    <ul class="tl-carousel">
                        <% @module_slide_products.each do |item| %>
                            <li >
                                <span class="meta"><a href="#"><%= link_to 'Nhà hàng: '+item.manufacturer.name, manufacturer_detail_homes_path(id: item.manufacturer_id) %> </a></span>
                                <h3 class="title"><a href="#"><%= link_to item.name, product_detail_homes_path(id: item) %></a></h3>
                                <div class="image  image-slideshow-small">
                                    <img src="<%= item.image_url if item.image_url? %>" class="tl-frame-light" alt="<%= item.name %>" />
                                </div>
                                <p class="excerpt"><%= truncate(strip_tags(item.description), length: 115) %></p>
                                <%= link_to "Xem tiếp", product_detail_homes_path(:id => item), class: "read-more-red font-medium" %>
                            </li>
                        <% end %>
                    </ul>
                    <div class="c-pagination visible-xs"></div>
                </div><!-- #tl-corausel-inner-wrapper -->

                <div class="tl-carousel-nav hidden-xs">
                    <span class="c-previous"></span>
                    <span class="c-next"></span>
                </div>
            </div><!-- #tl-corausel-wrapper -->
        </div>
    
    </div>
    <!-- # featured -->
    
    <div id="featured-2">
        <div class="container">
            <div class="row">
    
                <!-- Today special widget -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-today-special">
                        
                        <% if @module_run_events.count > 0 %>
                            <h3 class="widget-titlee">Sự kiện đang diển ra</h3>
                            <% @module_run_events.each do |item| %>
                                <div class="image hvr-float-shadow line-bottom">
                                    <a href="<%= post_detail_homes_path(id: item) %>"><%= image_tag(item.image_url, size: "350x150", alt: "Hình ảnh sự kiện", class: "img-rouded") %></a>
                                </div>
                            <% end %>
                        <% else %>
                            <h3 class="widget-titlee">Sự kiện mới</h3>
                            <% @module_news_events.each do |item| %>
                                <div class="image"><img src="<%= item.image_url if item.image_url? %>" alt="image description" /></div>
                                <h4 class="title"><a href=""><%= link_to (truncate(strip_tags(item.title), length: 50)), post_detail_homes_path(:id => item) %></a></h4>
                                <p class="excerpt text-justify"><%= truncate(strip_tags(item.content), length: 150) %></p>
                                <%= link_to "Xem tiếp", post_detail_homes_path(:id => item), class: "read-more-red font-medium" %>
                                <div class="clearfix line-bottom"></div>
                            <% end %>
                        <% end %>
                        
                    </div>
                    <!-- .widget -->
                </div>
    
                <!-- News and events widgets -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-news">
                        <h3 class="widget-title">Tin tức mới</h3>
                        <ul>
                            <% @module_news_posts.each do |item| %>
                                <li>
                                    <span class="meta"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                                    <h4 class="title">
                                        <%= link_to (truncate(strip_tags(item.title), length: 50)), post_detail_homes_path(id: item) %>
                                     </h4>
                                    <%= content_tag(:p, class: "excerpt text-justify") do %>
                                        <%= truncate(strip_tags(item.content), length: 100) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                
                <!-- Restaurant hours widget -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-restaurant-hours">
                        <h3 class="widget-title">Giờ mở cửa</h3>
                        <ul class="restaurant-hours">
                            <li><p class="meta">Breakfast</p></li>
                            <li>
                                <label>Monday - Friday</label>
                                <span>11:00 am - 03:00 pm</span>
                            </li>
                            <li>
                                <label>Monday - Friday</label>
                                <span>11:00 am - 03:00 pm</span>
                            </li>
                        </ul>
                        <ul class="restaurant-hours">
                            <li><p class="meta">Lunch</p></li>
                            <li>
                                <label>Monday - Friday</label>
                                <span>11:00 am - 03:00 pm</span>
                            </li>
                            <li>
                                <label>Monday - Friday</label>
                                <span>11:00 am - 03:00 pm</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!-- .row -->
    
        </div>
    </div>
    <!-- #featured-2 -->
    
    
    <div id="prefooter-wrapper">
        <div class="container">
            <div class="row">
    
                <!-- Widget Container 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-chef">
                        <h3 class="font-large">Lời giới thiệu</h3>
                        <% @module_introduction.each do |item| %>
                            <% if item.tag.title == "Lời giới thiệu" %>
                                <div class="image hvr-float-shadow">
                                    <img src="<%= item.image_url if item.image_url? %>" width="82" height="82" alt="" />
                                </div>
                                <div class="text-justify"><%= item.content.html_safe %></div>
                                <div class="clearfix"></div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
    
                <!-- Widget Container 2 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-menu-highlights">
                        <h3 class="font-large">Món ăn mới</h3>
                        <ul>
                            <% @module_new_products.each do |item| %>
                                <li>
                                    <div class="image hvr-float-shadow"><img src="<%= item.image_url if item.image_url? %>" width="56" height="56" alt="<%= item.name %>"></div>
                                    <h4 class="title"><a href="" title=""><%= link_to (truncate(strip_tags(item.name), length: 20)), product_detail_homes_path(id: item) %></a></h4>
                                    <div class="excerpt">
                                        <p><%= truncate(strip_tags(item.description), length: 100) %></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            <% end %>
                        </ul>
                        <%= link_to "Xem tiếp", menu_product_homes_path, class: "read-more-red font-medium" %>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
                <!-- Widget Container 3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-contact-us">
                        <h3 class="font-large">Đăng ký nhận tin mới</h3>
                        <%= render 'newsletter' %>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- #prefooter-wrapper -->
</div>
<!-- #main-container -->
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>

<!-- Image preloader -->
<%= javascript_include_tag '/assets/frontend/js/jquery.waitforimages.min.js' %>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<%= javascript_include_tag '/assets/frontend/js/ie10-viewport-bug-workaround.js' %>

<!-- Easing -->
<%= javascript_include_tag '/assets/frontend/js/jquery.easing.1.3.js' %>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap.min.js' %>

<!-- Hover with delay -->
<%= javascript_include_tag '/assets/frontend/js/jquery.hoverIntent.minified.js' %>

<!-- Responsive navigation menu -->
<%= javascript_include_tag '/assets/frontend/js/responsive-nav/responsive-menu-js.js' %>

<!-- Carousel -->
<%= javascript_include_tag '/assets/frontend/js/carouFredSel/helper-plugins/jquery.ba-throttle-debounce.min.js' %>
<%= javascript_include_tag '/assets/frontend/js/carouFredSel/helper-plugins/jquery.mousewheel.min.js' %>
<%= javascript_include_tag '/assets/frontend/js/carouFredSel/helper-plugins/jquery.touchSwipe.min.js' %>

<%= javascript_include_tag '/assets/frontend/js/carouFredSel/jquery.carouFredSel-6.2.1-packed.js' %>

<%= javascript_include_tag '/assets/frontend/js/bxslider/jquery.bxslider.min.js' %>

<!-- Floatable labels -->
<%= javascript_include_tag '/assets/frontend/js/floatlabels.min.js' %>

<!-- Selectbox beautyfier -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap-select.min.js' %>

<!-- Placeholder -->
<%= javascript_include_tag '/assets/frontend/js/jquery.placeholder.min.js' %>

<!-- Pretty Photo -->
<%= javascript_include_tag '/assets/frontend/js/pretty-photo/js/jquery.prettyPhoto.js' %>

<!-- Cookies -->
<%= javascript_include_tag '/assets/frontend/js/jquery.cookie.js' %>

<!-- Main theme JS file -->
<%= javascript_include_tag '/assets/frontend/js/main.js' %>

<!-- Newsletter Validation -->
<%= javascript_include_tag 'newsletter-validation.js' %>