<div id="teaser">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>THỰC ĐƠN</h1>
                <div class="tl-breadcrumb-wrapper hidden-xs">
                    <ul class="tl-breadcrumb">
                        <li>
                            <a href="<%= root_path %>">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>THỰC ĐƠN</li>
                    </ul>
                </div>
                <!-- .tl-breadcrumb -->

                <div class="social-bookmarking-wrapper">
                    <ul class="social-bookmarking">
                        <li>
                            <a class="fb hvr-float-shadow" href="http://facebook.com"></a>
                        </li>
                        <li>
                            <a class="yt hvr-float-shadow" href="http://youtube.com"></a>
                        </li>
                        <li>
                            <a class="gp hvr-float-shadow" href="http://googleplus.com"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
</div>
<!-- #teaser -->

<div id="main-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" role="main">
                <div class="page-content">

                    <article>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h2>H2 It's okay to make a mess, experiments can lead to beautiful things.</h2>
                                <p>Phasellus blandit nibh vel turpis. Curabitur commodo. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. Donec adipiscing.</p>
                                <p>Phasellus blandit nibh vel turpis. Curabitur commodo. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. Donec adipiscing.</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="menu-of-the-day">
                                    <h3 class="title">Thực đơn trong ngày</h3>
                                    <ul>
                                        <li><h2 class="title"><a href="">Nấm kim chi chiên giòn</a><span>25.000đ</span></h2></li>
                                        <li><h2 class="title"><a href="">Miến xào Singapore</a><span>35.000đ</span></h2></li>
                                        <li><h2 class="title"><a href="">Nấm kim chi chiên giòn</a><span>25.000đ</span></h2></li>
                                        <li><h2 class="title"><a href="">Miến xào Singapore</a><span>35.000đ</span></h2></li>
                                    </ul>
                                </div>
                                <!-- .menu-off-the-day-->
                            </div>
                        </div>
                        <!-- .row -->
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="card-menu-wrapper">
                                    <div class="card-menu">

                                        <div class="left-page">
                                            <h2>Appetizers</h2>
                                            <h3 class="price-category-heading">Appetizers & Snacks</h3>
                                            <ul class="price-items">
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" class="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Product" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Dips and Spreads" title="Dips and Spreads">
                                                            </a>
                                                        </div>
                                                        <a title="Dips and Spreads" class="specialty" href="/assets/frontend/showcase/800x460.png">Specialty</a>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Dips and Spreads</a>
                                                            <span>$1.4</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Spicy Bean Salsa" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Spicy Bean Salsa" title="Spicy Bean Salsa">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Spicy Bean Salsa</a>
                                                            <span>$3.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Cocktail Meatballs" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Cocktail Meatballs" title="Cocktail Meatballs">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Cocktail Meatballs</a>
                                                            <span>$4.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Double Tomato Bruschetta" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Double Tomato Bruschetta" title="Double Tomato Bruschetta">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Double Tomato Bruschetta</a>
                                                            <span>$2.7</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Chicken Flautas" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Chicken Flautas" title="Chicken Flautas">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Chicken Flautas</a>
                                                            <span>$3.7</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Pita Chips" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Pita Chips" title="Pita Chips">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Pita Chips</a>
                                                            <span>$3.7</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                            </ul>

                                        </div>
                                        <!-- .left/right-page -->


                                        <div class="right-page">

                                            <h2>Main Dishes</h2>
                                            <h3 class="price-category-heading">Meat</h3>
                                            <ul class="price-items">
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Product" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Image" title="Title">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Roasted Ribs</a>
                                                            <span>$10.4</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Product 2 11eur" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Product 2 11eur" title="Product 2">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Pork Belly</a>
                                                            <span>$11.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                            </ul>
                                            <h3 class="price-category-heading">Sea Food</h3>
                                            <ul class="price-items">
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Title" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Image" title="Title">
                                                            </a>
                                                        </div>
                                                        <a title="Title" class="specialty" href="<%= url_for("/assets/frontend/showcase/800x460.png") %>">Specialty</a>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Grilled Orada</a>
                                                            <span>$44.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Title" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Image" title="Title">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Staffed Squid</a>
                                                            <span>$14.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Title" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Image" title="Title">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Sardines</a>
                                                            <span>$4.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                            </ul>
                                            <!-- .price-items-->
                                        </div>
                                        <!-- .right-page -->


                                        <div class="left-page">

                                            <h2>Soups</h2>
                                            <h3 class="price-category-heading">Soups & Stew</h3>
                                            <ul class="price-items">
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="assets/showcase/800x460.png" title="Product 3 2.4 eur" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Product 3 2.4 eur" title="Product 3">
                                                            </a>
                                                        </div>
                                                        <a title="Product 3 2.4 eur" class="specialty lightbox" href="<%= url_for("/assets/frontend/showcase/800x460.png") %>">Specialty</a>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Mushroom soup</a>
                                                            <span>$2.4</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Product 4 4eur" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Product 4 4eur" title="Product 4">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Onion soup</a>
                                                            <span>$4.6</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Chicken stew" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Chicken stew" title="Chicken stew">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Chicken stew</a>
                                                            <span>$4.6</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>

                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Han & potatoe soup" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Han & potatoe soup" title="Han & potatoe soup">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Han & potatoe soup</a>
                                                            <span>$4.6</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                            </ul>
                                            <!-- .price-items-->

                                        </div>
                                        <!-- .left/right-page -->

                                        <div class="right-page">

                                            <h2>Wines</h2>
                                            <h3 class="price-category-heading">Red Wines</h3>
                                            <ul class="price-items">
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Cabernet Sauvignon" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Cabernet Sauvignon" title="Cabernet Sauvignon">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Cabernet Sauvignon 0.7l</a>
                                                            <span>$70.4</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Mourvèdre/Mataro" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Mourvèdre/Mataro" title="Mourvèdre/Mataro">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Mourvèdre/Mataro 0.7l</a>
                                                            <span>$31.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                            </ul>

                                            <h3 class="price-category-heading">White Wines</h3>
                                            <ul class="price-items">
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="Chardonnay" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt="Chardonnay" title="Chardonnay">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Chardonnay</a>
                                                            <span>$44.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                                <li>
                                                    <div class="item-image hidden-xs">
                                                        <div class="image">
                                                            <a rel="prettyPhoto" href="/assets/frontend/showcase/800x460.png" title="ewrwer 44" data-desc="Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.">
                                                                <img width="82" height="82" src="<%= url_for("/assets/frontend/showcase/82x82.png") %>" alt=" 44" title="">
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="price-heading">
                                                        <h4>
                                                            <a href="#">Sauvignon blanc</a>
                                                            <span>$46.0</span>
                                                        </h4>
                                                    </div>
                                                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                                                </li>
                                            </ul>
                                            <!-- .price-items-->
                                        </div>
                                        <!-- .left/right-page -->

                                    </div>
                                    <!-- .card-menu -->
                                    <div class="prev-page hidden-xs"></div>
                                    <div class="next-page hidden-xs"></div>
                                </div>
                                <!-- .card-menu-wrapper -->
                            </div>
                            <!-- .col-xs-12 -->
                        </div>

                    </article>

                </div>
                <!-- .page-content -->
            </div>

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->

    <div id="prefooter-wrapper">
        <div class="container">
            <div class="row">

                <!-- Widget Container 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-chef">
                        <h3 class="font-large">Lời giới thiệu</h3>
                        <div class="image">
                            <img src="<%= url_for(" /assets/frontend/showcase/82x82.png ") %>" width="82" height="82" />
                        </div>
                        <p class="text-justify">Suspendisse dictu m suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien. Vivamus convallis rutrum. Suspendisse dictu m suscipit odio. Nulla dui arcu, fermentum quis, mattis quis. ultricies id, justo. Nulla facilisi. Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien.</p>
                        <a class="read-more-red font-medium" href="#">Xem tiếp</a>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- Widget Container 2 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-menu-highlights">
                        <h3 class="font-large">Món ăn  nổi bật</h3>
                        <ul>
                            <li>
                                <div class="image"><img src="<%= url_for(" /assets/frontend/showcase/56x56.png ") %>" width="56" height="56" alt=""></div>
                                <h4 class="title"><a href="" title="">French Wedge</a></h4>
                                <div class="excerpt">
                                    <p>Suspendisse dictu m suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies. </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="image"><img src="<%= url_for(" /assets/frontend/showcase/56x56.png ") %>" width="56" height="56" alt=""></div>
                                <h4 class="title"><a href="" title="">Tarte aux pommes</a></h4>
                                <div class="excerpt">
                                    <p>Suspendisse dictu m suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies. </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <a class="read-more-red font-medium" href="#">Xem tiếp</a>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- Widget Container 3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-contact-us">
                        <h3 class="font-large">Đăng ký nhận tin mới</h3>
                        <form name="contact-us" method="post" class="contact-us-form">
                            <ul>
                                <li>
                                    <input class="form-control float-label" placeholder="Nhập email của bạn" type="text" name="email" title="Please enter your email address" />
                                </li>
                                <li><a href="#" role="button" class="tl-button dark submit font-medium">Đăng ký</a></li>
                            </ul>
                            <input type="hidden" name="handler" value="contact" />
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- #prefooter-wrapper -->
</div>
<!-- #main-container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>

<!-- Image preloader -->
<%= javascript_include_tag '/assets/frontend/js/jquery.waitforimages.min.js' %>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<%= javascript_include_tag '/assets/frontend/js/ie10-viewport-bug-workaround.js' %>

<!-- Easing -->
<%= javascript_include_tag '/assets/frontend/js/jquery.easing.1.3.js' %>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap.min.js' %>

<!-- Hover with delay -->
<%= javascript_include_tag '/assets/frontend/js/jquery.hoverIntent.minified.js' %>

<!-- Responsive navigation menu -->
<%= javascript_include_tag '/assets/frontend/js/responsive-nav/responsive-menu-js.js' %>

<%= javascript_include_tag '/assets/frontend/js/bxslider/jquery.bxslider.min.js' %>

<!-- Floatable labels -->
<%= javascript_include_tag '/assets/frontend/js/floatlabels.min.js' %>

<!-- Selectbox beautyfier -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap-select.min.js' %>

<!-- Placeholder -->
<%= javascript_include_tag '/assets/frontend/js/jquery.placeholder.min.js' %>

<!-- Pretty Photo -->
<%= javascript_include_tag '/assets/frontend/js/pretty-photo/js/jquery.prettyPhoto.js' %>

<!-- Cookies -->
<%= javascript_include_tag '/assets/frontend/js/jquery.cookie.js' %>

<!-- Main theme JS file -->
<%= javascript_include_tag '/assets/frontend/js/main.js' %>