<div id="teaser">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>THỰC ĐƠN</h1>
                <div class="tl-breadcrumb-wrapper hidden-xs">
                    <ul class="tl-breadcrumb">
                        <li>
                            <a href="<%= root_path %>">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>THỰC ĐƠN</li>
                    </ul>
                </div>
                <!-- .tl-breadcrumb -->

                <div class="social-bookmarking-wrapper">
                    <ul class="social-bookmarking">
                        <li>
                            <a class="fb hvr-float-shadow" href="http://facebook.com"></a>
                        </li>
                        <li>
                            <a class="yt hvr-float-shadow" href="http://youtube.com"></a>
                        </li>
                        <li>
                            <a class="gp hvr-float-shadow" href="http://googleplus.com"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
</div>
<!-- #teaser -->

<div id="main-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" role="main">
                <div class="page-content">

                    <article>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h2>H2 It's okay to make a mess, experiments can lead to beautiful things.</h2>
                                <p>Phasellus blandit nibh vel turpis. Curabitur commodo. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. Donec adipiscing.</p>
                                <p>Phasellus blandit nibh vel turpis. Curabitur commodo. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. Donec adipiscing.</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="menu-of-the-day">
                                    <h3 class="title">Thực đơn trong ngày</h3>
                                    <ul>
                                        <li><h2 class="title"><a href="">Nấm kim chi chiên giòn</a><span>25.000đ</span></h2></li>
                                        <li><h2 class="title"><a href="">Miến xào Singapore</a><span>35.000đ</span></h2></li>
                                        <li><h2 class="title"><a href="">Nấm kim chi chiên giòn</a><span>25.000đ</span></h2></li>
                                        <li><h2 class="title"><a href="">Miến xào Singapore</a><span>35.000đ</span></h2></li>
                                    </ul>
                                </div>
                                <!-- .menu-off-the-day-->
                            </div>
                        </div>
                        <!-- .row -->
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="card-menu-wrapper">
                                    <div class="card-menu">
                                        <% @parent_categories.each_with_index do |f,index| %>
                                            <div class="<%= (index%2 == 0 ? "left-page" : "right-page") %>">
                                                <h2><%= f.title %></h2>
                                                    <% f.children.each do |ff| %>
                                                        <h3 class="price-category-heading"><%= ff.title %></h3>
                                                        <ul class="price-items">
                                                            <% ff.products.each do |item| %>
                                                                <% if item.category.title == ff.title %>
                                                                    <li>
                                                                        <div class="item-image hidden-xs">
                                                                            <div class="image">
                                                                                <img width="82" height="82" src="<%= item.image_url if item.image_url? %>" alt="Dips and Spreads" title="Dips and Spreads">
                                                                            </div>
                                                                        </div>
                                                    
                                                                        <div class="price-heading">
                                                                            <h4>
                                                                                <a href="#"><%= item.name %></a>
                                                                                <span><%= item.price %></span>
                                                                            </h4>
                                                                        </div>
                                                                        <p class="text-justify"><%= item.description %></p>
                                                                        <button type="button" class="btn btn-primary btn-xs pull-right">Thêm vào giỏ hàng</button>
                                                                    </li>
                                                                    <hr/>
                                                                <% end %>
                                                                
                                                            <% end %>
                                                        </ul>
                                                    <% end %>
                                            </div>
                                            <!-- .left/right-page -->
                                        <% end %>
                                    </div>
                                    <!-- .card-menu -->
                                    <div class="prev-page hidden-xs"></div>
                                    <div class="next-page hidden-xs"></div>
                                </div>
                                <!-- .card-menu-wrapper -->
                            </div>
                            <!-- .col-xs-12 -->
                        </div>

                    </article>

                </div>
                <!-- .page-content -->
            </div>

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->

    <div id="prefooter-wrapper">
        <div class="container">
            <div class="row">
    
                <!-- Widget Container 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-chef">
                        <h3 class="font-large">Lời giới thiệu</h3>
                        <% @module_introduction.each do |item| %>
                            <% if item.tag.title == "Lời giới thiệu" %>
                                <div class="image hvr-float-shadow">
                                    <img src="<%= item.image_url if item.image_url? %>" width="82" height="82" alt="" />
                                </div>
                                <div class="text-justify"><%= item.content.html_safe %></div>
                                <div class="clearfix"></div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
    
                <!-- Widget Container 2 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-menu-highlights">
                        <h3 class="font-large">Món ăn mới</h3>
                        <ul>
                            <% @module_new_products.each do |item| %>
                                <li>
                                    <div class="image hvr-float-shadow"><img src="<%= item.image_url if item.image_url? %>" width="56" height="56" alt="<%= item.name %>"></div>
                                    <h4 class="title"><a href="" title=""><%= link_to (truncate(strip_tags(item.name), length: 20)), product_detail_homes_path(id: item) %></a></h4>
                                    <div class="excerpt">
                                        <p><%= truncate(strip_tags(item.description), length: 100) %></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            <% end %>
                        </ul>
                        <%= link_to "Xem tiếp", menu_product_homes_path, class: "read-more-red font-medium" %>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
                <!-- Widget Container 3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-contact-us">
                        <h3 class="font-large">Đăng ký nhận tin mới</h3>
                        <form name="contact-us" method="post" class="contact-us-form">
                            <ul>
                                <li>
                                    <input class="form-control float-label" placeholder="Nhập email của bạn" type="text" name="email" title="Please enter your email address" />
                                </li>
                                <li><a href="#" role="button" class="tl-button dark submit font-medium">Đăng ký</a></li>
                            </ul>
                            <input type="hidden" name="handler" value="contact" />
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- #prefooter-wrapper -->
</div>
<!-- #main-container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>

<!-- Image preloader -->
<%= javascript_include_tag '/assets/frontend/js/jquery.waitforimages.min.js' %>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<%= javascript_include_tag '/assets/frontend/js/ie10-viewport-bug-workaround.js' %>

<!-- Easing -->
<%= javascript_include_tag '/assets/frontend/js/jquery.easing.1.3.js' %>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap.min.js' %>

<!-- Hover with delay -->
<%= javascript_include_tag '/assets/frontend/js/jquery.hoverIntent.minified.js' %>

<!-- Responsive navigation menu -->
<%= javascript_include_tag '/assets/frontend/js/responsive-nav/responsive-menu-js.js' %>

<%= javascript_include_tag '/assets/frontend/js/bxslider/jquery.bxslider.min.js' %>

<!-- Floatable labels -->
<%= javascript_include_tag '/assets/frontend/js/floatlabels.min.js' %>

<!-- Selectbox beautyfier -->
<%= javascript_include_tag '/assets/frontend/js/bootstrap-select.min.js' %>

<!-- Placeholder -->
<%= javascript_include_tag '/assets/frontend/js/jquery.placeholder.min.js' %>

<!-- Pretty Photo -->
<%= javascript_include_tag '/assets/frontend/js/pretty-photo/js/jquery.prettyPhoto.js' %>

<!-- Cookies -->
<%= javascript_include_tag '/assets/frontend/js/jquery.cookie.js' %>

<!-- Main theme JS file -->
<%= javascript_include_tag '/assets/frontend/js/main.js' %>