<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4> <span class="text-semibold">Home</span> - Dashboard</h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><i class="icon-home2 position-left"></i> Home</li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <!-- Main charts -->
    <div class="row ">
        <h1 class="text-center text-teal">WELCOME TO ADMINISTRATOR</h1>
    </div>
    <!-- /main charts -->

    <!-- Footer -->
	<div class="footer text-muted">
		Copyright &copy; 2015 - Nhà hàng Chay vì sức khỏe.
	</div>
	<!-- /footer -->

</div>
<!-- /content area -->

<!-- Theme JS files -->
<%= javascript_include_tag '/assets/js/plugins/visualization/d3/d3.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/visualization/d3/d3_tooltip.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/styling/switchery.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/forms/selects/bootstrap_multiselect.js' %>
<%= javascript_include_tag '/assets/js/plugins/ui/moment/moment.min.js' %>
<%= javascript_include_tag '/assets/js/plugins/pickers/daterangepicker.js' %>
  
<%= javascript_include_tag '/assets/js/core/app.js' %>
<%= javascript_include_tag '/assets/js/pages/dashboard.js' %>
<!-- /theme JS files -->