<% if @manufacturer.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h6>

    <% @manufacturer.errors.full_messages.each do |message| %>
      <p class="label label-warning"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @manufacturer, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
      <%= f.label "Picture/Logo: ", class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.file_field :image_url, class: "file-styled" %>
        <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
        <%= image_tag(@manufacturer.image_url, size: "250x150", alt: "Picture/logo's Manufacturer", class: "img-rouded") %>
      </div>
      <%= render 'choose_file' %>
  </div>
  
  <div class="form-group">
      <%= f.label "Name: ", class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.text_field :name, placeholder: "Manufacturer's name (required)", class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group">
      <%= f.label "Address: ", class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.text_field :address, placeholder: "Manufacturer's address (required)", class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group">
      <%= f.label "Email: ", class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.text_field :email, placeholder: "Manufacturer's email (required)", class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group">
      <%= f.label "Phone: ", class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.text_field :phone, placeholder: "Manufacturer's phone (required)", class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label "Introduction: ", class: "col-lg-3 control-label" %>
  </div>
  
  <div class="form-group">
      <%= f.text_area :intro, rows: "4", cols: "4", id: "editor-full" %>
      <%= render 'ckeditor_js' %>
  </div>
  
  <div class="form-group">
    <%= f.label "Related Images: ", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
        <%= f.fields_for :manufacturer_images do |ff| %>
            <%= ff.hidden_field :id %>

            <div class="col-lg-11 padding-bottom">
                <%= ff.file_field :listing_image_url, class: "file-styled margin-bottom" %>
            </div>
            
            <div class="col-lg-1 padding-bottom">
                <%= ff.check_box :_destroy %>
                <%= ff.label :_destroy, 'Remove' %>
            </div>
        <% end %>
    </div>
  </div>

  <div class="text-right">
      <%= button_tag 'Save <i class="icon-plus22 position-right"></i>'.html_safe, class: "btn btn-primary"%>
  </div>
<% end %> 