<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @manufacturer.image_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @manufacturer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @manufacturer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manufacturer.email %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @manufacturer.intro %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
