<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Restaurant Chay Vì Sức Khỏe</title>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag '/assets/frontend/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/assets/frontend/css/bootstrap-select.css' %>
	<%= stylesheet_link_tag '/assets/frontend/css/bootstrap-datetimepicker.min.css' %>

    <!-- Pretty Photo -->
    <%= stylesheet_link_tag '/assets/frontend/js/pretty-photo/css/prettyPhoto.css' %>

    <!-- The Theme specific CSS -->
    <%= stylesheet_link_tag '/assets/frontend/css/mazzareli-theme.css' %>

    <!-- Color Sheme -->
    <%= stylesheet_link_tag '/assets/frontend/css/color-shemes/yellow/yellow.css' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %>
    <%= javascript_include_tag 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %>
	
	<%= javascript_include_tag 'https://www.google.com/recaptcha/api.js' %>

    <![endif]-->

    <!-- Favicons -->
    <%= favicon_link_tag '/assets/frontend/imgs/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag '/assets/frontend/imgs/favicon.png', rel: 'icon', type: 'image/png' %>
    
    <!-- JS and meta for Rails -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
    
    <!-- Customize -->
	<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' %>
	<%= stylesheet_link_tag "custom_frontend.css" %>

  </head>
  <body class="<%= @class_body %>">

    <div id="theme-wrapper">
        <header>
            <!-- Book a table for small & extra small device -->
            <a href="reservation.html" class="book-a-table visible-xs"></a>
            <div id="nav-wrapper">
                <div class="container">
                    <nav class="navbar-default">

                        <div class="inner-nav-wrapper">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" aria-expanded="false"></button>
                                <a class="navbar-brand logo" href="<%= root_path %>">
                                  <img src="<%= url_for("/assets/frontend/imgs/logo.png") %>" alt="Mazzareli logo" />
                                </a>
                            </div>

                            <!-- Book a table -->
							<%= link_to "Đặt bàn Online", reservation_homes_path, class: "book-a-table pull-right hidden-xs font-large" %>

                            <!-- Navigation itself -->
                            <div class="navbar-right" id="main-navigation">
                                <ul id="main-menu" class="nav navbar-nav">
                                    <li class="font-large"><a href="<%= root_path %>">Trang chủ</a></li>
                                    <li class="font-large"><a href="<%= menu_product_homes_path %>">Thực đơn</a></li>
                                    <li class="font-large"><a href="<%= news_homes_path %>">Tin tức</a></li>
                                    <li class="font-large"><a href="<%= service_homes_path %>">Dịch vụ</a></li>
									<li class="font-large"><a href="<%= picture_homes_path %>">Hình ảnh</a></li>
                                    <li class="font-large"><a href="<%= intro_homes_path %>">Giới thiệu</a></li>
                                    <li class="font-large"><a href="<%= contact_homes_path %>">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- .inner-nav-wrapper -->
                    </nav>
                </div>
                <!-- .container -->
            </div>
        </header>
        
            <%= yield %>
        
        <footer id="footer">
            <div class="container">
                <div class="pull-left">
                    <p id="copyright">Copyright &copy; 2015 Nhà hàng Chay vì sức khỏe.</p>
                </div>
                <!--<div class="pull-right">
                  <ul>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Copyrights</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                  </ul>
              </div>-->
            </div>
        </footer>

    </div>
    <!-- #theme-wrapper -->

</body>
	
</html> 